<div class="container">
  <div class="row">
    <div class="column photo-column">
    </div>
    <div class="column description-column">
      <div class="text-container">
        <h1>Mark Mckessock</h1>
        <p>
            I am studying Networking and Information Technology at Carleton University from 2018-2023. Following university, I plan on entering into the field of network or system administration. Using my homelab, I stay up to date on popular cloud and enterprise solutions such as Kubernetes and VMware vSphere. Keep up with me by checking out my blog and take a look at my resume.
        </p>
      {% include social.html %}
    </div>
    <p class="credit">&copy; 2018 Mark Mckessock. All Rights Reserved.</p>
  </div>
</div>
